{% extends 'base.html.twig' %}


{% block body %}
    <div class="main">
        <h2 class="categories-title">Catégories :</h1>

        <div class="categories">
            {% for category in categories %}
            <div class="category">
                <button type="button" class="category-button" onclick="window.location.href='{{ path('app_category_articleByCategory', {'id': category.id}) }}';">{{category.name}}</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
