.articles-title {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}

.articles-article {
    background: rgba(0, 0, 0, 0.05);
    border-top: solid 2px #2c0047;
    padding: 10px;
}

.category-list {
    list-style: none;
}

.category-list > li {
    display: inline-block;
    margin-left: 10px;
}