.article-title {
    text-align: center;
    margin-top: 5vw;
}

.article-article {
    background: rgba(0, 0, 0, 0.05);
    border-top: solid 0.15vw #2c0047;
    padding: 1vw;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-link {
    font-size: 1.5vw;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author a {
    margin-left: 0.4vw;
}

.article-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-button-div button {
    margin-right: 2vw;
}