.article-form-title {
    text-align: center;
    margin-top: 3vw;
}

.article-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-form form > * {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#article_content {
    height: 15vw;
    width: 25vw;
}

#article_category label {
    margin-right: 0.5vw;
}

.back-to-articles {
    display: flex;
    justify-content: center;
    margin-top: 1.5vw;
}

input[type="checkbox"] {
    appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 0.5vw;
	border-radius: 3px;
}

input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
	background-color: indigo;
}

input[type="checkbox"]:checked {
	background-color: indigo;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
    inset 0px -15px 10px -12px rgba(0,0,0,0.05), 
    inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

#article_category label {
    position: relative;
    bottom: 0.4vw;
}

