.categories-title {
    text-align: center;
    margin-top: 50px;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.category {
    display: flex;
    justify-content: center;
}

.category-button {
    border: none;
    background-color: #2c0047;
    color: white;
    height: 2.5vw;
    width: 12vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    cursor: pointer;
    box-shadow: 0px 0px 0.3vw rgb(73, 73, 73);
}