.footer {
    position: relative;
    bottom: 0;
    border-top: solid 2px #2c0047;
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 5vw;
}

.social, .creator, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter {
    color : #2c0047;
    width: 3vw;
}