@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.header {
    height: 6vw;
    border-bottom: solid 2px #2c0047;
}

.title {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 70px;
}