@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.header {
    border-bottom: solid 0.15vw #2c0047;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw;
}

.title {
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 4vw;
    left: 3vw;
}


