.vr {
    display: block;
    width: 300px;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0px);
    }
}

.home-title {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
}

.home-article {
    background: rgba(0, 0, 0, 0.05);
    border-top: solid 2px #2c0047;
    padding: 10px;
}

.home-article-button {
    border: none;
    background-color: #2c0047;
    color: white;
    height: 30px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgb(73, 73, 73);
}




