.vr {
    display: block;
    width: 15vw;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(3vw);
    }
    100%{
        transform: translateY(0px);
    }
}

.home-title {
    text-align: center;
    margin-top: 3vw;
}

.home-article {
    background: rgba(0, 0, 0, 0.05);
    border-top: solid 0.15vw #2c0047;
    padding: 0.8vw;
}

.home-articles:last-child {
    margin-bottom: 1vw;
}




