.login-form > input{
    margin-bottom: 1vw;
}

#inputUsername, #inputPassword {
    width: 10vw;
    height: 1.5vw;
}

@media screen and (max-width: 1026px) {
    #inputUsername, #inputPassword {
        width: 14vw;
        height: 3vw;
    }
}