<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Metaverse</title>
    {{ encore_entry_link_tags('app') }}
</head>
    <header class="header">
        <nav class="header-nav">
            <button class="header-button" onclick="window.location.href='{{path('home')}}'">Accueil</button>
        </nav>
        <h1 class="title">Blog Innovations</h1>
        <nav class="header-nav">
            <button class="header-button" onclick="window.location.href='{{path('app_article_index')}}'">Articles</button>
            <button class="header-button" onclick="window.location.href='{{path('app_category_index')}}'">Catégories</button>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
