{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h2 class="articles-title">Articles :</h1>

        <div class="articles-articles">
        {% for article in articles %}
            <div class="articles-article">
                <h3 class="articles-article-title">{{ article.title }}</h3>
                <p class="articles-article-content">{{ article.content}}</p>
                <p class="articles-article-date" >{{ article.date|date('d/m/Y')}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

